<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="Environments" type="Selenium.Framework.Setup.EnvironmentsDataSection, Selenium.Framework" />
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>

  <appSettings>

    <add key="ErrorCaptureLocation" value="C:\Temp\" />

    <!--Choose browser to run test-->

    <!--<add key="Browser" value="OpenQA.Selenium.Firefox.FirefoxDriver"/>-->
    <add key="Browser" value="OpenQA.Selenium.Chrome.ChromeDriver" />
    <!--<add key="Browser" value="OpenQA.Selenium.IE.InternetExplorerDriver"/>-->

  </appSettings>

  <Environments>

    <Environment>
      <add name="HomePage" url="http://www.bbc.co.uk/" pageTitle="BBC - Home" />
      <add name="SearchResults" url="http://www.bbc.co.uk/search" pageTitle="BBC - Search results for" />
      <add name="NewsHomePage" url="http://www.bbc.co.uk/news" pageTitle="Home - BBC News" />
      <add name="SportsHomePage" url="http://www.bbc.co.uk/sport/0" pageTitle="BBC Sport - Sport" />
      <add name="FootballHomePage" url="http://www.bbc.co.uk/sport/0/football/" pageTitle="BBC Sport - Football" />
    </Environment>

  </Environments>

</configuration>